/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: 'Roboto Serif', serif  !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Wcomponents */
.wcomp::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #696f78;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b8bf;
}

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container {
  margin: 25px 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.img-thumbnail {
  width: 80px;
}
.img-large {
  max-width: 80%;
}

.formInput {
  padding: 5px;
}

.BannerImg{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px;
  justify-content: space-evenly;
  text-align: center;
}
.BannerImg div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  
}
.BannerImg img{
  width: 400px;
  height: 200px;
}


li{
  list-style: disc;
}
.carouselImages{
  width: 200px !important; 
}
.Car{
  width: 200px !important;
}

.three-Sec{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  text-align: center;
  color: black;

}
.three-Sec div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 40px;
  padding : 10px;
  width: 400px;
}
.three-Sec img{
  width: 100%;
  height: 300px;
}
.three-Sec p{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.three-Sec button{
  border: 1px solid #B80000;
  background-color: #ffff;
  color: #B80000;
  width: 100%;
  padding: 3px;
  margin-top: 10px;
  font-size: 20px;
  transition: 0.5s;
}

.three-Sec button:hover{
  background-color: #B80000;
  color: #ffff;
}
.bigCont{
  display: flex;
  gap: 10px;
}
.contP{
  border: 1px solid #2F308D;
  width: 48%;
  padding: 10px;
  color: #2F308D;
  transition: 0.5s;
  cursor: pointer;
}
.contP:hover {
  background-color: #2F308D;
  color: #fff;
}


.viewBtn{
  color: #014F75;
  border: 1px solid #014F75;
  outline: none;
  width: 50%;
  padding: 5px;
  font-size: 18px;
  transition: 0.5s;
}

.viewBtn:hover{

  background-color: #014F75;
  color: #fff;
}


.filterDate{
  color: black;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filterDate input {
  border: 1px solid black;
  outline: none;
  padding: 5px;
}
.filterDate div{
  display: flex;
  gap: 10px;
  align-items:center ;
}
.filterDate div p{
  padding-top: 10px;
}

.filterDate button{
  color: #014F75;
  border: 1px solid #014F75;
  outline: none;
  width: 200px;
  font-size: 18px;
  transition: 0.5s;
}

.filterDate button:hover{
  background-color: #014F75;
  color: #fff;
}
.active{
  display: flex;
  gap: 20px;
margin-bottom: 20px;
}
.active button{
  border: 1px solid #659CCA;
  color: #659CCA;
  padding: 5px;
  width: 200px;
  transition: 0.5s;
  font-size: 20px;
}
.active button:hover{
  background-color: #659CCA;
  color: #fff;
}

.drop select{
  width: 100%;
  color:#fff;
  margin-bottom: 20px;
  border: 1px solid #659CCA;
  padding: 10px;
  outline: none;
  background-color: #659CCA;
}
.drop select option{
  background-color: #47BS;
}